html {
  margin: 0 auto;
  padding: 0;
  /* max-width: 150rem;
  min-width: 140rem; */
  width: 130rem;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  /* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
  font-size: 1.75rem;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #32343d;
  /* border: 1rem solid red; */
  margin: 0;
  align-items: center;
  height: 10rem;
}

header h1 {
  padding: 0rem 1rem;
  background-color: #92cccd;
  color: #383d46;
  font-size: 5rem;
}

header nav {
  width: 50rem;
}

header ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* flex-wrap: nowrap; */
  list-style: none;
  font-size: 2rem;
}

header ul li {
  border-bottom: 3px solid #90c9ca;

  padding-bottom: 5px;
}

header ul li a {
  color: #90c9ca;
  font-weight: bold;
  text-decoration: none;
  /* align-items: center; */
}

figure {
  margin: 0;
  position: relative;
}

figure img {
  width: 100%;
  height: 20rem;
}

figure h2 {
  padding: 0.5rem 1rem;
  background-color: #92cccd;
  font-size: 3rem;
  color: #383d46;
  text-align: right;
  position: absolute;
  bottom: 2rem;
  right: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0;
}

section {
  padding: 2rem 0rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  /* justify-content: space-between; */
  /* border: 1rem dotted green; */
}

.left-column {
  color: #445875;
  flex-shrink: 0;
  /* flex-basis: 20%; */
  width: 200px;
  border-right: 0.7rem solid #445875;
  margin-right: 5rem;
}

.left-column h2 {
  font-size: 5rem;
  margin-right: 0.5em;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: right;
}

#about_me p {
  margin-top: 0;
  color: #445875;
  font-size: 2rem;
}


.card-container {
  display: block;
}

main img {
  /* max-width: 100%;
  max-height: 100%; */
  height: 40rem;
  width: 50rem;
}
main img:hover {
  box-shadow: 0 4px 8px 0 #92cccd, 0 6px 20px 0 #92cccd;
}
#first-row img {
  width: 100.5rem;
}

#second-row .card,
#third-row .card {
  display: inline-block;
}

/* #second-row card {
  display: inline-block;
  width: 50%;
} */

/* 
.card {
  flex: 1 1 50%;
}

#surf_report {
  flex: 1 1 100%;
} */
.card {
  position: relative;
}

.title {
  position: absolute;
  bottom: 10px;
  background-color: #90c9ca;
  padding: 0 2rem;
}

#contact_me {
  display: flex;
  justify-content: space-between;
}

#contact_me ul {
  width: 150rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* flex-wrap: nowrap; */
  list-style: none;
  font-size: 2rem;
}

#contact_me ul li {
  border-bottom: 3px solid #90c9ca;
  padding-bottom: 5px;
}

#contact_me ul li a {
  color: #90c9ca;
  font-weight: bold;
  text-decoration: none;
}

